* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

#ig-header {
  display: flex;
  padding: 0;
}
#ig-header .logo {
  display: flex;
  justify-content: center;
}
#ig-header .logo a {
  background: url(./img/icons.png) no-repeat 0px -8.1rem;
  width: 11rem;
  height: 52px;
  transform: scale(0.6);
}
#ig-header .search {
  justify-content: center;
  align-items: center;
  position: relative;
}
#ig-header .search input {
  background: #efefef;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 8px;
  height: 2.3rem;
  width: 75%;
  outline: none;
  border: none;
  padding-left: 2.3rem;
}
#ig-header .search i {
  position: absolute;
  left: 3.4rem;
  top: 0.4rem;
  color: #a5a5a5;
  font-size: 1rem;
}
#ig-header nav li {
  display: inline-block;
  margin-right: 1.1rem;
}
#ig-header nav li:last-child {
  margin-right: 0;
}
#ig-header nav li a {
  color: #272727;
  font-size: 1.6rem;
}
#ig-header nav li a img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  position: relative;
  top: 6px;
}