* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

#ig-header {
  background: #fff;
  display: flex;
  padding: 0;
}
#ig-header .logo {
  display: flex;
  justify-content: flex-start;
}
#ig-header .logo a {
  background: url(./img/icons.png) no-repeat 0px -8.1rem;
  width: 11rem;
  height: 52px;
  transform: scale(0.6);
  margin-left: 2rem;
}
#ig-header .search {
  justify-content: center;
  align-items: center;
  position: relative;
}
#ig-header .search input {
  background: #efefef;
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 8px;
  height: 2.3rem;
  width: 75%;
  outline: none;
  border: none;
  padding-left: 2.3rem;
}
#ig-header .search i {
  position: absolute;
  left: 3.4rem;
  top: 0.4rem;
  color: #a5a5a5;
  font-size: 1rem;
}
#ig-header nav li {
  display: inline-block;
  margin-right: 1.1rem;
}
#ig-header nav li:last-child {
  margin-right: 0;
}
#ig-header nav li a {
  color: #272727;
  font-size: 1.6rem;
}
#ig-header nav li a img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  position: relative;
  top: 6px;
}

#ig-body {
  background: #f8f9fa;
  height: 100%;
}
#ig-body #article .card {
  overflow: hidden;
}
#ig-body #article .card .card-list {
  padding: 1rem 0.5rem;
  padding-left: 1rem;
  text-align: center;
}
#ig-body #article .card .card-list img {
  cursor: pointer;
  width: 70%;
  border-radius: 50%;
  border: 1px solid;
  border-color: #f90a0a;
}
#ig-body #article .card .card-list .card-text h5 {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: #646464;
}
#ig-body #article .post-area .card .card-head {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
#ig-body #article .post-area .card .card-head img {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  border: 1px solid;
  border-color: #f90a0a;
}
#ig-body #article .post-area .card .card-head span {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 0.3rem;
}
#ig-body #article .post-area .card .card-body {
  border: none;
  padding: 0;
  padding-bottom: 0.5rem;
}
#ig-body #article .post-area .card .card-body img {
  width: 100%;
  height: 23rem;
}
#ig-body #article .post-area .card .card-body .card-icon-area {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
#ig-body #article .post-area .card .card-body .card-icon-area .card-react i,
#ig-body #article .post-area .card .card-body .card-icon-area .card-save i {
  font-size: 1.2rem;
  margin-right: 0.3rem;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}
#ig-body #article .post-area .card .card-body .react-count {
  font-weight: 400;
  font-size: 0.8rem;
  color: #333;
  padding-left: 0.6rem;
}
#ig-body #article .post-area .card .card-body .react-content {
  font-size: 0.8rem;
  color: #333;
  padding-left: 0.6rem;
}
#ig-body #article .post-area .card .card-body .react-content b {
  font-weight: 600;
  color: #333;
}
#ig-body #article .post-area .card .card-body .react-time {
  font-size: 0.8rem;
  color: #949aae;
  padding-left: 0.6rem;
}
#ig-body #article .post-area .card .card-body hr {
  height: 0.1rem;
  color: #e1dfdf;
}
#ig-body #article .post-area .card .card-body .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.5rem;
}
#ig-body #article .post-area .card .card-body .comment .comment-write {
  flex-grow: 1;
}
#ig-body #article .post-area .card .card-body .comment .comment-write i {
  font-size: 1.3rem;
}
#ig-body #article .post-area .card .card-body .comment .comment-write input {
  font-size: 0.9rem;
  padding: 0 0.4rem;
  outline: none;
  border: none;
  width: 64%;
  position: relative;
  bottom: 0.2rem;
}
#ig-body #article .post-area .card .card-body .comment .comment-write input::-moz-placeholder {
  color: #949aae;
  font-weight: 400;
}
#ig-body #article .post-area .card .card-body .comment .comment-write input:-ms-input-placeholder {
  color: #949aae;
  font-weight: 400;
}
#ig-body #article .post-area .card .card-body .comment .comment-write input::placeholder {
  color: #949aae;
  font-weight: 400;
}
#ig-body #article .post-area .card .card-body .comment .comment-btn button {
  color: #0d6efd;
  border: none;
  outline: none;
  background: transparent;
}
#ig-body .top-stick {
  position: fixed;
  z-index: 1010;
  top: 5.8rem;
  right: auto;
}
#ig-body #aside {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.1rem;
}
#ig-body #aside .auth-body {
  display: flex;
  flex-grow: 0.4;
}
#ig-body #aside .auth-body .auth-img img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
#ig-body #aside .auth-body h6 {
  margin-top: 0.6rem;
  font-size: 0.9rem;
  color: #272727;
}
#ig-body #aside .auth-body small {
  font-size: 0.9rem;
  position: relative;
  top: 25px;
  right: 47px;
}
#ig-body #aside .auth-footer a {
  color: #2ca7f7;
  font-size: 0.83rem;
  margin-top: 0.6rem;
  font-weight: 500;
}
#ig-body .follow-area {
  display: flex;
  margin: 1.2rem 0rem;
}
#ig-body .follow-area .follow-left {
  display: flex;
  align-items: center;
  flex-grow: 0.56;
}
#ig-body .follow-area .follow-left h5 {
  font-size: 0.96rem;
  color: #949494;
  margin-bottom: 0.6rem;
}
#ig-body .follow-area .follow-right a {
  color: #272727;
  font-size: 0.83rem;
  font-weight: 500;
}
#ig-body .follow-people-area {
  display: flex;
  align-items: center;
}
#ig-body .follow-people-area .people-list {
  display: flex;
  flex-grow: 0.52;
}
#ig-body .follow-people-area .people-list img {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-top: 0.1rem;
  margin-right: 0.8rem;
}
#ig-body .follow-people-area .people-desc h6 {
  font-size: 0.9rem;
  margin-bottom: -0.2rem;
}
#ig-body .follow-people-area .people-desc small {
  color: #a9a9a9;
  font-size: 0.9rem;
}
#ig-body .follow-people-area .follow-link {
  color: #2ca7f7;
  font-size: 0.83rem;
  font-weight: 500;
}
#ig-body .direct-link {
  padding-right: 1rem;
}
#ig-body .direct-link a {
  text-transform: capitalize;
  color: #a9a9a9;
  font-size: 0.73rem;
  font-weight: 400;
}
#ig-body .direct-link a i {
  font-size: 0.5rem;
}